<h1>Market</h1>

<%= render :partial => 'goods' , :locals => { :goods => @goods } %>

<%= link_to "Post new good", new_good_path %>


<%= form_tag market_search_path , :method => :get do %>
	<%= label_tag "Keyword:" %>
	<%= text_field_tag :keyword %>
	<%= submit_tag 'Search'%>
<% end %>