<%= form_tag market_search_path , :method => :get , :id => 'search-bar' do %>
	<%= label_tag "Keyword:" %>
	<%= text_field_tag :keyword %>
	<%= submit_tag 'Search'%>
<% end %>

<div class="market-actions-bar">
	<%= link_to "Post new product", new_good_path, :class => 'new-good-link' %>
</div>


<%= render :partial => 'categories' , :locals => { :categories => @categories } %>

<%= render :partial => 'goods' , :locals => { :goods => @goods } %>
<div class="page-foot">
	<%= will_paginate @goods %>
</div>