<ul>
	<li><%= link_to "problemset 1", ps1_path %></li>
	<li><%= link_to "problemset 2", ps2_path %></li>
	<li><%= link_to "problemset 3", ps3_path %></li>
	<li><%= link_to "problemset 4", ps4_path %></li>
	<li><%= link_to "problemset 5", ps5_path %></li>
	<li><%= link_to "problemset 6", ps6_path %></li>
</ul>