<h1><%= @good.title %></h1>

<% if @good.close? %>
	<span class="warning-msg">This good is closed</span>
<% end %>

<% if @good.warned? %>
	<span class="warning-msg">This good is warned</span>
<% end %>

<% if flash[:messge] %>
	<span class="message"><%= flash[:messge] %></span>
<% end %>

<%= image_tag @good.image.url, :class => 'good-image' %>
<div id="good-detail">

	<div>
		<label>Price</label>
		<span class="value"><%= @good.price %></span>
	</div>

	<div>
		<label>Owner</label>
		<span class="value"><%= @good.user.email unless @good.user.nil? %></span>
	</div>

	

	<div>
		<label>Category</label>
		<span class="value"><%= @good.category.category_title %></span>
	</div>

	<%=raw sanitize(simple_format(@good.description), :tags => %w(br p)) %>
	<div class="panel">
		<%= link_to 'Edit' ,  edit_good_path( @good.id ) if @good.owned_by? current_user %> 
		<%= link_to 'Report Inappropriate' ,  warn_good_path( @good.id ) if user_signed_in? and !@good.owned_by?( current_user ) %>  
		<%= link_to 'Close' , close_good_path( @good.id ) if @good.owned_by? current_user %> 
	</div>
</div>

<hr />
<%= link_to 'Back to Market' , market_path %>

<h2>Comments</h2>
<div id="comments">
	<% @good.comments.each do |comment| %>
		<%= render :partial => 'comments/show' , :locals => { :comment => comment } %>
	<% end %>
</div>

<% if user_signed_in? %>
	<%= link_to_function 'Add comment' , 'showCommentForm()' , :id => 'show-comment-form-link' %>
	<%= render :partial => 'comments/form' , :locals => { :good => @good , :comment => Comment.new , :hidden => true , :id => 'new'} %>
<% end %>

